data/
*.zip
*.tar.gz
*.h5
*.hdf5

outputs/
**/transfer_learning/
**/tensorflow_hub/


*.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

checkpoints/
*.ckpt
*.pb
.mypy_cache/
tensorflow_hub/
*.tflite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
__MACOSX/

.vscode/
.idea/
*.swp
*.swo
*~

.env
.env.local
.env.*.local

*.log
logs/
